.hangar-wrapper{
  width: 100%;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  .interface-box{
    height: 100%;
    .stats{
      width: 20vw;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .stats-container{
        div{
          display: flex;
          justify-content: space-between;
        }
      }
      //.stat-info{
      //  display: flex;
      //  .stats-table{
      //    width: 100%;
      //    display: flex;
      //    font-size: 14px;
      //    justify-content: space-between;
      //    .stat-column{
      //      display: flex;
      //      flex-direction: column;
      //    }
      //    .stat-values{
      //      display: flex;
      //      flex-direction: column;
      //    }
      //    .stat-action{
      //      display: flex;
      //      flex-direction: column;
      //    }
      //  }
      //}
      .fly-now{
        width: 100%;
        height: 50px;
        margin-top: 20px;
      }
      .plane-stats{
        display: flex;
        flex-direction: column;
      }
    }
  }
  .jet-box{
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    .wrapper{
      position: relative;
      width: 690px;
      max-height: 650px;
      height: 100%;
      display: flex;
      border: 1px solid black;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      background: url('../assets/images/Group 12.svg') center no-repeat;
      background-size: cover;
      .nft-img{
        position: absolute;
        top: -10%;
        right: 0;
        width: 178px;
        height: 178px;
        background: url('../assets/images/nft_img.svg');
      }
      .no-plane{
        width: 400px;
        height: 40px;
        background: antiquewhite;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
      .mint-now{
        display: flex;
        flex-direction: column;
        align-items: center;
        span, p{
          color: #FAFAFA;
          text-align: center;
          leading-trim: both;
          text-edge: cap;
          text-shadow: 0px 0px 7px #0086FB, 0px 0px 16px #0086FB, 0px 0px 32px #0086FB, 0px 0px 120px #0086FB;
          font-family: QuanticoItalic;
          font-style: italic;
          font-weight: 400;
          line-height: 40px; /* 166.667% */
          text-transform: uppercase;
        }
        span{
          font-size: 24px;
          letter-spacing: 3.6px;
        }
        p{
          margin-top: 5px;
          font-size: 32px;
          letter-spacing: 4.8px;
        }
      }
      .choices{
        margin-top: 30px;
        width: 470px;
        display: flex;
        justify-content: space-between;
        button{
          background: rgba(0, 134, 251, 0.10);
          border: none;
          width: 230px;
          padding: 15px 20px;
          box-sizing: border-box;
          div{
            width: 100%;
            height: 100%;
            margin: 0px;
            font-family: QuanticoItalic;
            color: #FAFAFA;
            text-shadow: 0px 0px 7px #0086FB, 0px 0px 16px #0086FB;
            line-height: 30px; /* 150% */
            text-transform: uppercase;
            span{
              font-size: 20px;
              letter-spacing: 1px;
            }
            p{
              font-size: 24px;
              letter-spacing: 3.6px;
              margin: 0px 0 0;
            }
          }
        }
      }
    }
  }
}
.stacking-rewards, .claims-rewards{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 60px 20px 20px;
  box-sizing: border-box;
  border: 1px solid black;
  width: 100%;
  margin-right: 20px;
  .title-box{
    display: flex;
    justify-content: space-between;
    .description{
      width: 60%;
      h1{
        text-transform: uppercase;
        font-weight: normal;
      }
    }
    .history-table{
      display: flex;
      flex-direction: column;
      padding: 20px;
      box-sizing: border-box;
      border: 1px solid black;
      width: 511px;
      height: 190px;
      h1{
        font-size: 14px;
      }
      .MuiTable-root{
        border: 1px solid grey;
        .MuiTableHead-root{
          .MuiTableRow-root{
            .MuiTableCell-root{
              padding: 5px;
            }
          }
        }
        .MuiTableBody-root{
          .MuiTableRow-root{
            .MuiTableCell-root{
              padding: 5px;
            }
          }
        }
      }
    }
  }
  .rewards-history{
    h1{

    }
    .btns-component{
      display: flex;
      justify-content: space-between;
      width: 100%;
      .btn{
        display: flex;
        justify-content: space-between;
        border: 1px solid black;
        padding: 5px;
        width: 32%;
        .description{

        }
        .btns{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          button{
            height: 48%;
          }
        }
      }
    }
  }
  .lower-tables{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    .xnl-status,.stacker-history{
      border: 1px solid black;
      width: 47%;
    }
    .xnl-status{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .btns-component{
        display: flex;
        flex-direction: column;
        .btn{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          box-sizing: border-box;
          .description{
            h2{
              margin:0;
            }
          }
          button{
            width: 150px;
            height: 35px;
          }
        }
      }
      .xnl-stats{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        box-sizing: border-box;
        div{
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
.leaderboard-wrapper{
  display: flex;
  flex-direction: column;
  padding: 20px 60px 20px 20px;
  box-sizing: border-box;
  border: 1px solid black;
  width: 100%;
  margin-right: 20px;
}
.missions-container{
  display: flex;
  padding: 20px 60px 20px 20px;
  box-sizing: border-box;
  border: 1px solid black;
  width: 100%;
  margin-right: 20px;
  .jet-stats{
    width: 40%;
    .jet-image{
      width: 261px;
      height: 241px;
      border: 1px solid black;
      margin: 40px 0;
    }
    .action-list{
      display: flex;
      align-items: center;
      .list{
        display: flex;
        flex-direction: column;
      }
      button{
        height: 50px;
      }
    }
    .plane-stats{
      .stats-list{
        display: flex;
        flex-direction: column;
      }
    }
  }
  .missions-list{
    margin-left: 20px;
    width: 100%;
    .list-box{
      width: 100%;
      height: 80vh;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      align-items: center;
      .result-box{
        display: flex;
        justify-content: space-between;
        border: 1px solid black;
        align-items: flex-start;
        margin: 10px 0;
        padding: 20px;
        box-sizing: border-box;
        height: 120px;
        div{
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
        }
        p{
          font-size: 14px;
          margin:0;
        }
        .btns-container{
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-right: 10px;
          button{
            height: 45%;
            width: 100%;
          }
        }
        .share-btn{
          height: 100%;
        }
      }
    }
  }
}